.dark {
  .dark-mode {
    --scalar-background-1: #0f0f0f;
    --scalar-background-2: #1a1a1a;
    --scalar-background-3: #272727;
    --scalar-color-1: #e7e7e7;
    --scalar-color-2: #a4a4a4;
    --scalar-color-3: #797979;
    --scalar-color-accent: #00aeff;
    --scalar-background-accent: #3ea6ff1f;
    --scalar-border-color: var(--color-border-600);
  }
}

.light {
  .dark-mode {
    --scalar-background-1: #ffffff;
    --scalar-background-2: #f5f5f5;
    --scalar-background-3: #e0e0e0;
    --scalar-color-1: #000000;
    --scalar-color-2: #555555;
    --scalar-color-3: #777777;
    --scalar-border-color: var(--color-border-600);
  }
}